<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>./tests/functional</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <exclude>
      <file>src/WindowsAzure.php</file>
    </exclude>
  </coverage>
</phpunit>
